* {
    font-family: "Norse Bold", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#main {
    display: flex;
    flex-direction: row;
}

#left {
    position: relative;
    width: 50vw;
}

#img-leaf {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#logo-bar {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;

    background-color: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem 0;
}

#img-logo {
    height: 4rem;
    width: auto;
}

#text {
    padding-top: 100px;
    padding-bottom: 50px ;
    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    flex-direction: column;

    background-color: rgb(235, 234, 234);
}

#text3 {
    padding-top: 20px;
}

#form {
    padding-top: 20px;
    padding-left: 50px;

    background-color: white;
}

#text-form {
    padding-bottom: 15px;
    font-size: large;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px ;
    row-gap: 10px;
    padding-bottom: 30px;
}


.label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#end {
    background-color: rgb(235, 234, 234);
    height: 100%;
    width: 50vw; 

    padding-top: 20px;
    padding-left: 50px;
}

button {
    background-color: #596D48;
    height: 40px;
    width: 150px;

    border: none;
    border-radius: 3px;

    font-size: larger;

    margin-bottom: 30px;

    color: white;
}

a {
    text-decoration: underline;
    color: #9abe7a;
    padding-left: 3px;
}

a:hover {
    cursor: pointer;
}

input {
    height: 2rem;
    width: 250px;
    border-color: #E5E7EB;
}

#password:invalid, 
#confirm_password:invalid {
    border-color: rgb(241, 97, 97);
}

input:focus:not(:invalid) {
    border-color: #829fd8;
    box-shadow: 0 0 1px 1px #829fd8;
}